
    <%- include('partials/header.html') %>

   

    <section class="Others News">
        <div class="title-Others news">
            <h2>Search:</h2>
            <br><br>
            <div class="center">
                
                <div style="width:100%;" class="most-read">
                    <h3><%= count %>Results</h3>
                    <div class="most-read-news">
                        <% for(let i = 0; i < posts.length; i++) { %>                        
                        <div class="most-read-news-single">
                            <img src="<%= posts[i].image %>" />
                            <div class="text-most-read-single">
                                <h4><%= posts[i].title %></h4>
                                <p><%- posts[i].context %></p>...</p>
                                <a href="<%= posts[i].slug %>">Read more</a>
                            </div>
                        </div>
                        <% } %>                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.html') %>

</body>
</html>